{% extends 'base.html.twig' %}

{% block main_content %}
    <div class="row">
        <div class="col">
            <div class="alert alert-success">
                Registration successfully completed.
            </div>
        </div>
    </div>
{% endblock %}
